<div class="header-container">
    <div class="left-container">
        <div class="header-logo "><span class="material-icons">
            search
            </span></div>
    </div>
    <div class="right-container">
        <div class="controls">
            <div class="header-logo">+ Add</div>
            <div class="header-logo" (click)="logOut()"><span class="material-icons">
                logout
                </span></div>
            <div class="header-logo"> <span class="material-icons">
                notifications_none
                </span>
            </div>
        </div>
    </div>
</div>